@import '../../scss/variables';
@import '../../scss/mixins';

.containerBrandMenu{
    background-color: white;
    display: grid;
    grid-template-columns: 10% 70% 20%;
    height: 89vh;
    @include Asmall(){
        height: auto;
    }
    .content{
        margin: 40px 0 0 0;
        .pestana {
            font-size: 12px;
            text-decoration: underline $amarillo 3px;
            margin-bottom: 20px;
        }
        .titulo {
            font-size: 20px;
            font-weight: 600;
        }
        .subtitulo{
            font-size: 12px;
            color: gray;
        }
        .inputIcon{
            display: grid;
            border: 1px solid $gris;
            grid-template-columns: 80% 20%;
            padding: 10px 15px 10px 15px;
            border-radius: 3px;
            font-size: 10px;
            margin: 10px 0;
            width: 95%;
            i{
                align-self: center;
                justify-self: right;
                width: 20%;
            }
            }
        .brands{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            @include Asmall(){
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
                margin-bottom: 15px;
            }
            grid-gap: 10px 5px;
            .brand{
                cursor: pointer;
                img{
                    width: 85%;
                    @include tabletLaptop(){
                        width: 75%;
                    }
                    @include laptopDesktop(){
                        width: 75%;
                    }
                    @include desktopFull(){
                        width: 65%;
                    }
                }
                .pizzeriaName {
                    font-size: 11px;
                    font-weight: 700;
                }
                .pizzeriaDireccion {
                    font-size: 9px;
                    color: gray;
                }
        
            }
        }
    }

    .sideFinal{
        display: grid;
        grid-template-rows: 20% 80%;
        .contExit{
            display: grid;
            grid-template-columns: 30% 70%;
            cursor: pointer;
            img{
                width: 60%;
                align-self: center;
                justify-self: center;
                grid-column: 1;
            }
            .exit{
                font-size: 12px;
                grid-column: 2;
                align-self: center;
            }
        }
    }
}