@import '../scss/mixins';

.superContainer{
    background-image: url('../images/imagebkg.png');
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    display: grid;
    grid-template-columns: 40% 60%;
    @include smallTablet(){
        grid-template-columns: 100%;
    }
    @include Asmall(){
        grid-template-columns: 100%;
    }
}