@import '../../scss/mixins';

.imgContainer{
    display: grid;
    height: 100vh;
    img{
        width: 90%;
    }
}

.oldDesk{
    @include smallTablet(){
      display: none;
    }
    @include Asmall(){
      display: none;
    }
  }